# Bazel
bazel-bin
bazel-out
bazel-testlogs
# Bazel internal files
__bazel-*

# Python
__pycache__/ 
*.pyc

core.*

outputs/

model_weights/*
!model_weights/BUILD.bazel
data/
dataset/*


requirements.txt
