chromadb
docx2txt
hydra-core
langchain 
ray
ray[data] 
ray[serve]
sentence_transformers
unstructured[all-docs]
fastapi
pydantic
torch
langchain-community
sentencepiece
transformers
pyarrow==15.0.0
pylance
datashaper
vllm