numpy
scipy
pandas
matplotlib
jupyterlab
watermark
tiktoken
ray[all]
hydra-core
pydantic
pyarrow
tqdm
ipywidgets
torchmetrics
tensorflow
transformers
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1



